openapi: 3.1.0
info:
  title: Qdrant Vector Database API Wrapper
  description: Wrapper API for Qdrant vector database query operations
  version: 1.0.0
servers:
  - url: https://ntv-creative-search-pv.websyte.ai
    description: Wrapper API server
paths:
  /query:
    post:
      summary: Query points with OpenAI embedding
      description: Generate embeddings using OpenAI API and query points in Qdrant database. For each result, extract headline, ctaUrl, images, and summary using OpenAI and return as a root-level ads array.
      operationId: queryPoints
      requestBody:
        description: Query configuration
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Text input to generate embedding.
                model:
                  type: string
                  description: OpenAI embedding model to use.
                  default: text-embedding-3-small
                limit:
                  type: integer
                  description: Max number of points to return.
                  default: 10
                with_payload:
                  type: boolean
                  description: Whether to include payload in the response.
                  default: true
                offset:
                  type: integer
                  description: Offset of the result. Skip this many points.
                  default: 0
                filter:
                  type: object
                  description: Filter conditions - return only those points that satisfy the specified conditions.
                params:
                  type: object
                  description: Search params for when there is no prefetch.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ads:
                    type: array
                    description: List of deduplicated ads with extracted data
                    items:
                      type: object
                      properties:
                        headline:
                          type: string
                          nullable: true
                          description: The most prominent or relevant headline
                        ctaUrl:
                          type: string
                          nullable: true
                          description: The first real call-to-action URL
                        images:
                          type: array
                          items:
                            type: string
                            format: uri
                          description: Array of image URLs
                        summary:
                          type: string
                          nullable: true
                          description: Concise summary of the ad content
                        promptRecommendations:
                          type: array
                          items:
                            type: string
                          description: List of prompt recommendations for the ad
                  condensedInput:
                    type: string
                    description: The condensed input used for the Qdrant query
                  result:
                    type: object
                    properties:
                      points:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              oneOf:
                                - type: integer
                                - type: string
                            version:
                              type: integer
                            score:
                              type: number
                              format: double
                            payload:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                type:
                                  type: string
                                created:
                                  type: string
                                  format: date-time
                                advertiser:
                                  type: string
                                adContext:
                                  type: string
                                preview_image_urls:
                                  type: array
                                  items:
                                    type: string
                                    format: uri
                                advertiser_logo_url:
                                  type: string
                                  format: uri
                                target_url:
                                  type: string
                                  format: uri
                                headline:
                                  type: string
                                  nullable: true
                                ctaUrl:
                                  type: string
                                  nullable: true
                                images:
                                  type: array
                                  items:
                                    type: string
                                    format: uri
                                summary:
                                  type: string
                                  nullable: true
                                promptRecommendations:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: true
                  usage:
                    type: object
                    properties:
                      cpu:
                        type: integer
                      io_read:
                        type: integer
                      io_write:
                        type: integer
                  time:
                    type: number
                    format: double
                    description: Time spent to process this request
                  status:
                    type: string
  /raw:
    post:
      summary: Proxy Qdrant query
      description: Directly proxy a Qdrant query and return the raw result. The request body should match the Qdrant API's /points/query endpoint.
      operationId: rawQdrantQuery
      requestBody:
        description: Qdrant query body (see Qdrant API docs)
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vector:
                  type: array
                  items:
                    type: number
                  description: The query vector for similarity search
                filter:
                  type: object
                  description: Qdrant filter object
                  additionalProperties: true
                limit:
                  type: integer
                  description: Max number of points to return
                offset:
                  type: integer
                  description: Offset of the result
                with_payload:
                  type: boolean
                  description: Whether to include payload in the response
                with_vector:
                  type: boolean
                  description: Whether to include vector in the response
                params:
                  type: object
                  description: Additional search params
                  additionalProperties: true
              required: [vector, limit]
      responses:
        '200':
          description: Raw Qdrant response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      points:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              oneOf:
                                - type: integer
                                - type: string
                            version:
                              type: integer
                            score:
                              type: number
                            payload:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                type:
                                  type: string
                                created:
                                  type: string
                                  format: date-time
                                advertiser:
                                  type: string
                                adContext:
                                  type: string
                                preview_image_urls:
                                  type: array
                                  items:
                                    type: string
                                    format: uri
                                advertiser_logo_url:
                                  type: string
                                  format: uri
                                target_url:
                                  type: string
                                  format: uri
                              additionalProperties: true
                  status:
                    type: string
                  time:
                    type: number
