openapi: 3.1.0
info:
  title: Qdrant Vector Database API Wrapper
  description: Wrapper API for Qdrant vector database query operations
  version: 1.0.0
servers:
  - url: https://ntv-creative-search-pv.websyte.ai
    description: Wrapper API server
paths:
  /query:
    post:
      summary: Query points with OpenAI embedding
      description: Generate embeddings using OpenAI API and query points in Qdrant database.
      operationId: queryPoints
      requestBody:
        description: Query configuration
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Text input to generate embedding.
                model:
                  type: string
                  description: OpenAI embedding model to use.
                  default: text-embedding-3-small
                limit:
                  type: integer
                  description: Max number of points to return.
                  default: 10
                with_payload:
                  type: boolean
                  description: Whether to include payload in the response.
                  default: true
                offset:
                  type: integer
                  description: Offset of the result. Skip this many points.
                  default: 0
                filter:
                  type: object
                  description: Filter conditions - return only those points that satisfy the specified conditions.
                params:
                  type: object
                  description: Search params for when there is no prefetch.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      points:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              oneOf:
                                - type: integer
                                - type: string
                            version:
                              type: integer
                            score:
                              type: number
                              format: double
                            payload:
                              type: object
                              additionalProperties: true
                  usage:
                    type: object
                    properties:
                      cpu:
                        type: integer
                      io_read:
                        type: integer
                      io_write:
                        type: integer
                  time:
                    type: number
                    format: double
                    description: Time spent to process this request
                  status:
                    type: string